.menu {
    background-color: #f5f5f5;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.menu h1 {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 2em;
    border-bottom: 2px solid #ff6e00;
}

.menu h2 {
    margin-bottom: 0.5em;
    font-size: 1.3em;
    border-bottom: 1px dashed #ff6e00;
}

.menu label {
    font-weight: normal;
    text-align: right;
    line-height: 34px;
}

.menu select:focus,
.menu input:focus {
    border-color: #ff6e00;
}

.menu button {
    background-color: #ff6e00;
    border: 1px solid #ff6e00;
    border-radius: 4px;
    color: #fff;
    height: 34px;

    /* For animation of styling */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.menu button:hover,
.menu button:active,
.menu button:focus {
    background-color: #fff;
    color: #000;
    outline: none;
}
