@charset "utf-8";

// Set brand colors
$democracy-blue: #2e4272;

// Update Bulma's global variables
$primary: $democracy-blue;

@import "~bulma/bulma";
@import "~bulma-tooltip";
@import "~bulma-pageloader";
@import "~bulma-switch";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.sass";

[class*="auto-scroll-y"] {
    overflow-y: auto;
}

[class*="min-column-width"] {
    min-width: 11.5rem;
}

[class*="presentation"] {
    overflow-x: auto;
    padding-top: 15px;
}

[class*=" lavinia-logo"],
[class^="lavinia-logo"] {
    letter-spacing: 2px;
    stroke-width: 0.26458px;
    stroke: findColorInvert($primary);
    fill: findColorInvert($primary);
    width: 100px;
    height: 28px;
}

[class*="pageloader"] [class*="title"] {
    max-width: 100vw;
    width: fit-content;
    text-align: center;
    white-space: normal;
}

[class*="pageloader"] {
    z-index: 99998;
}

[class*="fit-page"] {
    max-width: 100vw;
    max-height: 100vh;
}
