@charset "utf-8";
$democracy-blue: #2e4272;
$primary: $democracy-blue;
$tooltip-background-color: $democracy-blue;

@import "~bulma/bulma";
@import "~bulma-tooltip";

[class*=" lavinia-logo"],
[class^="lavinia-logo"] {
    stroke: findColorInvert($democracy-blue);
    fill: findColorInvert($democracy-blue);
    width: 90px;
    height: 28px;
}
